<!-- Create your form here -->
<h1> Student Form </h1>
<form action='/student/create' method='post'>
    <input type=text name=first_name>
    <input type=text name=last_name>
    <input type=submit id="Submit Student">
</form>